@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/*** media queries **/
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/**max-height 450px **/
/*********** testimonials *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #808285;
  line-height: 26px;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  outline: none;
}

/** select buttons **/
select {
  color: #808285;
  /** if value is empty **/
}
select option[value=""] {
  color: #808285;
}
select option {
  color: #808285;
}
select:invalid {
  color: #808285;
}

/** if value is empty **/
select:invalid {
  color: #808285;
}

/** if value is empty / **/
/** if value should be something **/
.all {
  color: #808285;
}

/** global **/
input::placeholder,
textarea::placeholder,
::placeholder {
  color: #808285 !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list-style1 li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul.list-style1 li:before {
  content: "";
  display: inline-block;
  width: 8px;
  background: #808285;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 9px;
}

ul.list-style1 + .btn {
  margin-top: 20px;
}

a {
  color: #808285;
}

a,
a:hover,
a.active,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

h1, h2 {
  line-height: 36px;
}

.content {
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

@media (min-width: 1281px) {
  .container {
    max-width: 1251px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    max-width: 995px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
  }
}

.btn {
  margin: 0 0 25px;
  padding: 0px 15px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  min-width: 140px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.3s linear;
  -webkit-box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
}
.btn:hover, .btn:focus, .btn:active {
  color: #808285;
}
@media (max-width: 479px) {
  .btn {
    height: 35px;
    line-height: 35px;
  }
}

.btn-white {
  background: #fff;
  color: #808285;
}

.btn-black {
  background: #000;
  color: #fff;
}

.btn-submit {
  background: #f1f1f1;
}

/*** header *************************/
header {
  padding: 17px 0;
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0);
}
header span.logo {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 30px;
}
header .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}
@media (max-width: 767px) {
  header .overlay {
    background-image: linear-gradient(to right, #79f1a4, #0e5cad);
  }
}
@media (max-height: 450px) {
  header .overlay {
    overflow-y: auto;
  }
}
header .overlay a {
  padding: 0 8px 8px 0;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: #fff;
}
@media (max-height: 450px) {
  header .overlay a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  header .overlay a {
    padding: 0;
  }
}
header .overlay a:hover, header .overlay a:focus {
  color: #f5333f;
}
header .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media (max-height: 450px) {
  header .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media (max-width: 767px) {
  header .overlay .closebtn {
    top: 6px;
    right: 15px;
    font-size: 30px;
  }
}
header .overlay .overlay-content {
  position: relative;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  header .overlay .overlay-content {
    top: 40px;
    left: 0;
    transform: none;
  }
}
@media (max-width: 767px) {
  header .overlay .overlay-content .mega-menu {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item {
    display: block !important;
    background-image: linear-gradient(to right, #79f1a4, #0e5cad);
    border-top: 1px solid #ddd;
    z-index: 11;
    transition: 0.3s linear;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item h5 {
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    color: #fff;
    position: relative;
    transition: 0.3s linear;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item h5 a {
    width: calc(100% - 50px);
    padding: 10px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item h5 a:hover {
    color: #f5333f;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .sub-menu-arrow {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .sub-menu-arrow:hover {
    color: #f5333f;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .sub-menu-arrow:before {
    content: "+";
    width: 50px;
    height: 45px;
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 22px;
    line-height: 48px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item.active-submenu h5 .sub-menu-arrow:before {
    content: "−";
    color: #f5333f;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item.active-submenu .megamenu-sub {
    display: block;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub {
    z-index: 12;
    display: none;
    padding: 0;
    overflow: hidden;
    color: #fff;
    transition: 0.3s linear;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li {
    margin: 0;
    display: block;
    cursor: pointer;
    background-image: linear-gradient(to right, #7bcc98, #0054ab);
    border-top: 1px solid #7bcc98;
    position: relative;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li:first-child {
    border-top: 0;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li.active-submenu .sub-menu-arrow:before {
    content: "−";
    color: #f5333f;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li.active-submenu .megamenu-tabH {
    display: block;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    padding: 10px 10px 10px 25px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content {
    width: 100%;
    height: 100%;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content .megamenu-tabH-in {
    display: block;
    background-image: linear-gradient(to right, #2f7e4b, #1c7de1);
    border-top: 1px solid #0b8490;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content .megamenu-tabH-in:first-child {
    border-top: 0;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content .megamenu-tabH-in a {
    padding: 10px 10px 10px 35px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content .megamenu-tabH-in img {
    margin: 40px;
    display: none;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div {
    position: relative;
    display: none;
    height: 100%;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div.view {
    display: block;
    width: 100%;
    min-height: 200px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div p {
    display: block;
    font-size: 17px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item:hover h5 a, header .overlay .overlay-content .mega-menu .megamenu-item.active h5 a {
    color: #f5333f;
  }
}
@media (min-width: 768px) {
  header .overlay .overlay-content .mega-menu {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item {
    display: block !important;
    width: 250px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    z-index: 11;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item h5 {
    font-size: 24px;
    text-align: left;
    padding: 12px;
    cursor: pointer;
    color: #fff;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item h5:hover a {
    color: #f5333f;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .sub-menu-arrow {
    display: none;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub {
    position: absolute;
    z-index: 12;
    display: none;
    padding: 12px 12px 12px 0;
    overflow: hidden;
    color: #fff;
    width: 750px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub .w-3-1 {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 3%;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li {
    margin: 0 -0.2em 0 0;
    display: inline-block;
    cursor: pointer;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu li a {
    display: block;
    min-width: 140px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    color: #808285;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content .megamenu-tabH-in {
    display: inline-block;
    background: #fff;
    padding: 8px;
    margin-right: 20px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content .megamenu-tabH-in img {
    margin: 40px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div {
    position: relative;
    padding: 5px;
    display: none;
    height: 100%;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div.view {
    display: block;
    width: 100%;
    min-height: 200px;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div p {
    display: block;
    color: #808285;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item:hover .megamenu-sub, header .overlay .overlay-content .mega-menu .megamenu-item.active .megamenu-sub {
    display: block;
    top: 0px;
    left: 0px;
    margin-left: 249px;
    height: 100%;
    border-left: none;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item:hover .megamenu-sub .megamenu-sub-menu li.active a, header .overlay .overlay-content .mega-menu .megamenu-item:hover .megamenu-sub .megamenu-sub-menu li:hover a, header .overlay .overlay-content .mega-menu .megamenu-item.active .megamenu-sub .megamenu-sub-menu li.active a, header .overlay .overlay-content .mega-menu .megamenu-item.active .megamenu-sub .megamenu-sub-menu li:hover a {
    color: #fff;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item:hover .megamenu-sub .megamenu-sub-menu li.active .megamenu-tabH, header .overlay .overlay-content .mega-menu .megamenu-item:hover .megamenu-sub .megamenu-sub-menu li:hover .megamenu-tabH, header .overlay .overlay-content .mega-menu .megamenu-item.active .megamenu-sub .megamenu-sub-menu li.active .megamenu-tabH, header .overlay .overlay-content .mega-menu .megamenu-item.active .megamenu-sub .megamenu-sub-menu li:hover .megamenu-tabH {
    display: block;
  }
  header .overlay .overlay-content .mega-menu .megamenu-item:hover h5 a, header .overlay .overlay-content .mega-menu .megamenu-item.active h5 a {
    color: #f5333f;
  }
}

body {
  background-color: #f6f6f6;
}

.landing-page-in {
  width: 90%;
  padding: 30px;
  min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}
@media (max-width: 767px) {
  .landing-page-in {
    position: unset;
    transform: none;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .landing-page-in {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .landing-page-in {
    min-height: 420px;
  }
}
.landing-page-in .box {
  width: 48%;
  -webkit-box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
  float: left;
  overflow: hidden;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}
.landing-page-in .box:hover select {
  display: block;
}
@media (max-width: 767px) {
  .landing-page-in .box {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .landing-page-in .box {
    padding: 10px;
  }
}
.landing-page-in .box1-2 {
  margin-right: 4%;
}
@media (max-width: 767px) {
  .landing-page-in .box1-2 {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .landing-page-in .box2-2 {
    margin-bottom: 30px;
  }
}
.landing-page-in .box p {
  margin: 15px 0;
  font-size: 18px;
}
.landing-page-in select {
  display: none;
  width: 245px;
  background-color: #f6f6f6;
  border: none;
  padding: 8px;
  margin: 0 auto;
}

.landing-page h1, .select-role h1 {
  display: block;
  font-size: 30px;
  max-width: 420px;
}
@media (max-width: 767px) {
  .landing-page h1, .select-role h1 {
    font-size: 24px;
  }
}
.landing-page .top-links, .select-role .top-links {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}
.landing-page .top-links .skip, .select-role .top-links .skip {
  float: right;
}
.landing-page .top-links .back, .select-role .top-links .back {
  float: left;
}
@media (max-width: 767px) {
  .landing-page .top-links, .select-role .top-links {
    padding: 25px 10px;
  }
}

.select-role-in {
  width: 90%;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .select-role-in {
    padding: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .select-role-in {
    padding: 20px 10px;
  }
}
@media (max-width: 767px) {
  .select-role-in {
    position: unset;
    transform: none;
    margin: 0 auto;
  }
}
@media (max-width: 479px) {
  .select-role-in {
    padding: 10px;
  }
}
.select-role-in .box {
  width: 23.5%;
  -webkit-box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.3);
  float: left;
  overflow: hidden;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 2%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .select-role-in .box {
    padding: 20px 10px;
  }
}
@media (max-width: 767px) {
  .select-role-in .box {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .select-role-in .box {
    width: 49%;
    margin-right: 2%;
    padding: 20px 10px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .select-role-in .box:nth-child(3), .select-role-in .box:nth-child(5) {
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .select-role-in .box:nth-child(4), .select-role-in .box:nth-child(5) {
    margin-top: 2%;
  }
}
@media (max-width: 479px) {
  .select-role-in .box {
    padding: 10px;
  }
}
.select-role-in .box:last-child {
  margin-right: 0;
}
@media (max-width: 479px) {
  .select-role-in .box:last-child {
    margin-bottom: 30px;
  }
}
.select-role-in .box p {
  margin: 15px 0 0;
  font-size: 18px;
}

/**** select role page ******************************************/

/*# sourceMappingURL=home.css.map */
