
@import 'variables';
@import 'timeline';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300';
@import 'https://fonts.googleapis.com/css?family=Just+Another+Hand';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-size: $font-size;
  font-family: $font-stack;
  color: $font-color;
  line-height: $lineheight-normal;
  @include smartphone{
    font-size: 13px;
    line-height: 20px;
  }
}
// body.home, body.industry, body.business-area, body.about, body.contact, body.how-we-work
html, body{
  &::-webkit-scrollbar{
    width: 0 !important;
  }
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
textarea,
select,
button {
	outline: none;
}
/** select buttons **/
select{
  color: $font-color;
    option[value=""] {
        color: $placeholder;
    }
    option {
        color: $placeholder;
    }
    /** if value is empty **/
&:invalid{
    color: $placeholder;
  }
}
  /** if value is empty **/
select:invalid{
  color: $placeholder;
}
  /** if value is empty / **/

 /** if value should be something **/
.all { color: $placeholder;}

/** hiding play button on iphone **/
*::-webkit-media-controls-panel {
  display: none!important;
 -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
/** global **/

input::placeholder,
textarea::placeholder,
::placeholder {
  color: $placeholder !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px transparent;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.list-style1 li{
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
ul.list-style1 li:before {
  content: "";
  display: inline-block;
  width: 8px;
  background: $font-color;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 9px;
}

ul.list-style-square li{
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
ul.list-style-square li:before {
  content: "";
  display: inline-block;
  width: 8px;
  background: $font-color;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 9px;
}
ul.list-style-square+.btn{
  margin-top:20px;
}
ul.list-style-square li, .list-style-square p{
  position: relative;
  padding-left: 12px;
}
ul.list-style-square li:before, .list-style-square p:before {
  content: "";
  display: inline-block;
  width: 5px;
  background: $font-color;
  height: 5px;
  position: absolute;
  left: 0;
  top: 9px;
}
a{
  color: $link-color;
}
a,
a:hover,
a.active,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}
h1, h2{
  line-height: 36px;
}
.f22{
  font-size: 22px;
  @include laptop-max{
    font-size: 20px;
    @include smartphone{
      font-size: 18px;
    }
  }
}
.content {
  margin: 0;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.float-right{
  float: right;
}
.float-left {
  float: left;
}
.flw{
  float: left;
  width: 100%;
}
.upper-case{
  text-transform: uppercase;
}
.hidden {
  display: none !important;
}
.normal-font{
  font-size: 16px;
}
.sec-in-space{
  margin-top: 40px !important;
  @include mobile-max{
    margin-top: 30px !important;
  }
}
.sec-in-Espace{
  margin-top: 60px !important;
  @include mobile-max{
    margin-top: 45px !important;
  }
}
.container{
  margin: 0 auto;
  width: 100%;
  @include desktop{
    max-width: 1251px;
    padding: 0 15px;
  }
  @include laptop{
    max-width: 995px;
    padding: 0 20px;
  }
  @include tablet{
    max-width: 100%;
    padding: 0 25px;
  }
  
  @include tablet-max{
    max-width: 100%;
    padding: 0 18px;
  }
}
.btn{
  margin: 0 0 25px;
  padding: 0px 15px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-decoration: none;
  min-width: 140px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  transition: 0.15s linear;
  @include box-shadow;
  border-radius: 25px;
  &:hover, &:focus, &:active{
    outline: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  @include smartphone{
    height: auto;
    line-height: 30px;
    min-height: 30px;
    min-width: 110px;
    margin: 0 0 5px;
  }
}
.btn-lg{
  padding: 0 45px;
  height: 50px;
  line-height: 50px;
  min-width: 220px;
  font-size: 20px;
  @include mobile-max{
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    min-width: 160px;
    font-size: 16px;
  }
}
.btn-white{
  background: $white;
  color: $font-color;
}
.btn-black{
  background: $black;
  color: $white;
}
.btn-submit{
  background: $white;
}


.home-bg{
  @include home-bg;
}
.home-text-bg{
    @include home-text-bg;
}
.hw-bg {
  @include hw-bg;
}
.hw-text-bg{
    @include hw-text-bg;
}

.industry-bg {
  @include industry-bg;
}
.industry-text-bg {
    @include industry-text-bg;
}

.enm-bg {
  @include enm-bg;
}
.enm-text-bg {
    @include enm-text-bg;
}
.business-area-bg {
  @include business-area-bg;
}
.business-area-text-bg{
    @include business-area-text-bg;
}
.products-bg {
  @include products-bg;
}
.products-text-bg{
    @include products-text-bg;
}
.ourwork-bg {
  @include ourwork-bg;
}
.ourwork-text-bg{
    @include ourwork-text-bg;
}
.ipgallery-bg {
  @include ipgallery-bg;
}
.ipgallery-text-bg{
    @include ipgallery-text-bg;
}
.brand-mng-bg {
  @include brand-mng-bg;
}
.brand-mng-text-bg{
    @include brand-mng-text-bg;
}
.blog-bg{
  @include blog-bg;
}
.blog-text-bg{
    @include blog-text-bg;
}
.about-bg{
  @include about-bg;
}
.about-text-bg{
    @include about-text-bg;
}
.contact-bg{
  @include contact-bg;
}
.contact-text-bg{
    @include contact-text-bg;
}
.pillarPage-bg{
  @include pillarPage-bg;
}
.pillarPage-text-bg{
    @include pillarPage-text-bg;
}
.notfound-bg{
  @include notfound-bg;
}

.subscription-bg{
  @include subscription-bg;
}
.subscription-text-bg{
    @include subscription-text-bg;
}
/*** header *************************/

header {
  padding: 30px 0 17px 0;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  transition: 0.2s padding ease-out; 
  &.fixedheader{    
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);    
    padding: 17px 0;
    @include smartphone{
      padding: 12px 0;
    }
  }
  @include smartphone{
    padding: 12px 0;
    height: 45px;
  }
  .logo {
    text-transform: uppercase;
    img{
      width: 160px;
      @include smartphone{
        width: 150px;
      }
    }
  }
  .openNav {
    float: right;
    padding-top: 3px;
    @include smartphone{
      padding-top: 0;
    }
    img{
      width: 20px;
    }
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.5s;
    @include mobile-max{
      background-image: linear-gradient(to right, #79f1a4, #0e5cad);
    }
    @include max-height450px{
      overflow-y: auto;
    }
    a {
      padding: 0;
      text-decoration: none;
      display: block;
      transition: 0.3s;
      color: #fff;
      @include max-height450px{
        font-size: 20px
      }
      @include mobile-max{
        padding:0;
      }
    }
    .container{
      position: relative;
    }
    .closebtn {
      position: absolute;
      top: 21px;
      right: 15px;
      font-size: 45px;
      @include max-height450px{
        font-size: 40px;
        top: 15px;
        right: 15px;
      }
      @include mobile-max{
        top: 6px;
        right: 10px;
        font-size: 30px;    
      }
    }
    .overlay-content {
      position: relative;
      top: 50%;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include mobile-max{
        top: 40px;
        left: 0;
        transform: none;
      }
      @include mobile-max{
      .mega-menu {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;        
        .megamenu-item {
          display: block !important;
          border-top: 1px solid rgba(244, 244, 244, 0.15);
          // display: inline-block;
          z-index: 11;          
          transition: 0.3s linear;
          h5 {
            font-size: 16px;
            text-align: left;
            cursor:pointer;
            color: $white;
            position: relative;
            transition: 0.3s linear;
            a{
              width: calc(100% - 50px);
              padding: 10px;
            }
          }
          .sub-menu-arrow{
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            &:before{
                content: '+';
                width: 50px;
                height: 40px;
                position: absolute;
                right: 0;
                display: inline-block;
                font-size: 22px;
                line-height: 40px;
            }
          }
          &.active-submenu{
            h5{
              .sub-menu-arrow{
                &:before{
                    content: '\2212';
                }
              }
            }
            .megamenu-sub{ 
              display: block !important;
            }
          }
          
          &:nth-child(3){
            &.active-submenu{
              .megamenu-tabH{
                display: block !important;
              }
            }
          }
          .megamenu-sub {
            z-index: 12;
            display: none !important;
            padding: 0;
            overflow: hidden;
            color: $white;
            transition: 0.3s linear;
            ul.megamenu-sub-menu {
              width: 100%;
              overflow: hidden;
              overflow-x: auto;
              white-space: nowrap;
              li {
                margin: 0;
                display: block;
                cursor: pointer;             
                position: relative;
                &:first-child{
                  border-top: 0;
                }
                &.active-submenu{                  
                  .sub-menu-arrow{
                    &:before{
                        content: '\2212';
                    }
                  }
                  .megamenu-tabH{
                    display: block;
                  }
                }
                a {
                  display: block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: 18px;
                  padding: 10px 10px 10px 25px; 
                }
              }      
              .megamenu-sub-content{
                width: 100%;
                height: 100%;
                .megamenu-tabH-in {
                  display: block;
                  &:first-child{
                    border-top:0;
                  }
                  a{
                    padding: 10px 10px 10px 35px;
                  }
                  img {
                    margin: 40px;
                    display: none;
                  }
                }
              }               
              .megamenu-sub-content > div {
                position: relative;
                display: none;
                height: 100%;
              }
              .megamenu-sub-content > div.view {
                display: block;
                width: 100%;
                min-height: 200px;
              }
              .megamenu-sub-content > div p {
                display: block;
                font-size: 17px;
              }
            }   
          }     
        } 
      }
      }
      @include tablet-min{
      .mega-menu {
        position: relative;
        display: block;
        width: 90%;
        margin: 0 auto;
        .megamenu-item {
          display: block !important;
          width: 230px;
          background-color: transparent;
          padding-left: 16px;
          padding-right: 16px;
          padding-bottom: 10px;
          // display: inline-block;
          z-index: 11;
          h5 {
            font-size: 24px;
            text-align: left;
            padding: 12px;
            cursor:pointer;
            color: $white;
          }
          .sub-menu-arrow{display: none;}
          .megamenu-sub {
            position: absolute;
            z-index: 12;
            display: none;
            padding: 12px 12px 12px 0;
            overflow: hidden;
            color: $white;
            width: 750px;
            .w-3-1 {
              position: relative;
              float: left;
              width: 30%;
              margin-right: 3%;
            }
            ul.megamenu-sub-menu {
              width: 100%;
              overflow: hidden;
              overflow-x: auto;
              white-space: nowrap;
              li {
                margin: 0 -0.2em 0 0;
                display: inline-block;
                cursor: pointer;
                a {
                  display: block;
                  min-width: 140px;
                  max-width: 300px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: 24px;
                  color: #eaeaea;
                }
                &.active a{
                  color: #fff;
                }
              }      
              .megamenu-sub-content{
                position: absolute;
                top: 60px;
                left: 0;
                .tab-top{
                  margin-bottom: 24px;
                  @include tablet{
                    margin-bottom: 9px;
                  }
                }
                .megamenu-tabH-in {
                  display: inline-block;
                  background: rgba(255, 255, 255, 0.2);
                  padding: 0px;
                  margin-right: 20px;
                  position: relative;
                  vertical-align: top;
                  @include tablet{
                    margin-right: 5px;
                    // &:last-child(){
                    //   margin-left:4px;
                    // }
                  }
                  a{
                    font-size: 16px;
                    height: 150px;
                    width: 150px;
                    @include tablet{
                      width: 90px;
                      height: 130px;
                      min-width: 110px;
                    }
                    @include flex;
                    img {
                      margin: 0px;
                      @include transition;
                      max-width: 85px;
                      margin-bottom: 35px;
                      max-height: 85px;
                      @include tablet{
                        width: auto;   
                        max-height: 70px;
                      }
                    }
                    &:hover{
                      img{
                        @include image-scale;
                      }                      
                    }
                  }
                }
              }               
              .megamenu-sub-content > div {
                position: relative;
                padding: 5px;
                display: none;
                height: 100%;
              }
              .megamenu-sub-content > div.view {
                display: block;
                width: 100%;
                min-height: 200px;
              }
              .megamenu-sub-content > div p {
                display: block;
                color: $white;
                position: absolute;
                bottom: 5px;
                text-align: center;
                font-size: 13px;
                white-space: initial;
                line-height: 16px;
                @include tablet{
                  font-size: 12px;
                }
              }
            }   
          }
          .megamenu-sub{
            display:none; 
            top: 0px; 
            left: 0px; 
            margin-left: 229px; 
            height: 100%; 
            border-left: none;
            .megamenu-sub-menu{
              li{
                > a{
                  padding-bottom: 40px;
                }  
                &.active{
                  .megamenu-tabH{
                    display: block;
                    z-index: 99;
                  }
                }                
                &.hover-not-active{
                  .megamenu-tabH{
                    display: none;
                    z-index: 0;
                  }
                }                 
                &.hover-active{
                  .megamenu-tabH{
                    display: block;
                    z-index: 99;
                  }
                }             
              }
            }
          }  
          &:nth-child(1){
            &:hover{
              .megamenu-sub {
                display: block;
              }
            }
          }
          &:nth-child(3){
            &:hover{
              .megamenu-sub {
                display: block;
              }
            }
            .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content > div{
              display: block;
            }
            .megamenu-sub ul.megamenu-sub-menu .megamenu-sub-content{
              top:0;
            }
          }  
        }        
      }
    }
    }
  }
}



/************************* content animations ***************************************/
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/** Bounce **/

@keyframes bounce1 {
  0% {
    bottom: 30px;
		-webkit-animation-timing-function: linear;
	}
	50% {
    bottom: 40px;
		-webkit-animation-timing-function: linear;
	}
	100% {
    bottom: 30px;
		-webkit-animation-timing-function: linear;
	}
}
@keyframes bounce2 {
  0% {
    top: -90px;
		-webkit-animation-timing-function: linear;
	}
	50% {
    top: -80px;
		-webkit-animation-timing-function: linear;
	}
	100% {
    top: -90px;
		-webkit-animation-timing-function: linear;
	}
}
@keyframes bounce3 {
  0% {
    top: -70px;
		-webkit-animation-timing-function: linear;
	}
	50% {
    top: -60px;
		-webkit-animation-timing-function: linear;
	}
	100% {
    top: -70px;
		-webkit-animation-timing-function: linear;
	}
}



