
        * {
        margin: 0;
        padding: 0;
        
        }

        .modelCanvas .canvasDiv{
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
        }
        .modelCanvas .canvasDiv #element1 {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .modelCanvas .timerDiv {
            position: absolute;
            right: -140px;
            top: 180px;
            font-size: 17px;
            color: #b68834;
        }
        .modelCanvas .timerDiv .time{
            color: #b68834;
        }
        .timer {
            font-family: "Arial", sans-serif;
            width: 200px;
            text-align: left;
        }
        div#savedTimeInfo{
            width: 220px;
        }
        div#savedTimeInfo .saved-time{
            font-weight: 600;
        }

        .closed-sidebar-q {
        color: #fffbff;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        line-height: 135%;
        }

        .saved-time {
        animation-name: created;
        animation-duration: 2s;
        display: none;
        }
        .sidebar  .saved-time:last-child {
            display: initial;
        }
        
        @keyframes created {
        from {
            color: #fffbff;
        }

        to {
            color: #b68834;
        }
        }

        @media (max-width: 700px) {

        .closed-sidebar-q {
            top: 20%;
        }

        }

        @media (min-width: 701px) and (max-width: 1400px) {

        .closed-sidebar-q {
            top: 20%;
        }
        }