
        * {
        margin: 0;
        padding: 0;
        
        }

        .modelCanvas .canvasDiv{
            position: relative;
            display: flex;
            align-items: center;
        }
        .modelCanvas .canvasDiv #element1 {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 170px;
            padding: 0 10px;
            line-height: 35px;
        }
        .modelCanvas .timerDiv {
            position: absolute;
            left: 50%;
            top: 60px;
            font-size: 17px;
            color: #b68834;
            transform: translateX(-50%);
        }
        .modelCanvas .timerDiv .time{
            color: #b68834;
        }
        .timer {
            font-family: "Arial", sans-serif;
            text-align: left;
        }
        div#savedTimeInfo{
            width: 220px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            color: #b68834;
        }
        div#savedTimeInfo .saved-time{
            font-weight: 600;
        }

        .closed-sidebar-q {
        color: #fffbff;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        line-height: 135%;
        }

        .saved-time {
        animation-name: created;
        animation-duration: 2s;
        display: none;
        }
        .sidebar  .saved-time:last-child {
            display: initial;
        }
        
        @keyframes created {
        from {
            color: #fffbff;
        }

        to {
            color: #b68834;
        }
        }

        @media (max-width: 700px) {

        .closed-sidebar-q {
            top: 20%;
        }

        }

        @media (min-width: 701px) and (max-width: 1400px) {

        .closed-sidebar-q {
            top: 20%;
        }
        }